/* CODE THAT WILL BE INSERTED IN HTML TO ACTIVATE THAT CSS 


// THIS IS FOR A DROPDOWN FORM 
<div class="control">
  <div class="select">
    <select>
      <option>Select dropdown</option>
      <option>With options</option>
    </select>
  </div>
</div>

THIS IS FOR A SUBMISSION ON A FORM
<div class="control">
  <button class="button is-primary">Submit</button>
</div>

THIS IS FOR THE OTHER DROPDOWN ON THE FORM
<div class="control">
  <div class="select">
    <select>
      <option>Select dropdown</option>
      <option>With options</option>
    </select>
  </div>
</div>

// NOT THE ICON WE WILL BE USING BUT AN OPTION FOR AN ICON IN THE DROPDOWN BAR
<div class="field">
  <p class="control has-icons-left">
    <span class="select">
      <select>
        <option selected>Country</option>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </span>
    <span class="icon is-small is-left">
      <i class="fas fa-globe"></i>
    </span>
  </p>
</div>

// NORMAL SIZED TEXT/SIZE DROPDOWN BOX INDICATION 
<div class="field">
  <div class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Normal"> // THIS PLACEHOLDER=NORMAL IS WHAT DESIGNATES THE SIZE//
    <span class="icon is-left"> // THIS IS WHAT DESIGNATES THE PLACEMENT OF THE ICON, NOTE 'IS-LEFT' FOLLOWS FLOAT RULES AND THE ICON IS ALWAYS CENTERED//
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
</div>

// I DON'T BELIEVE WE NEED A FULL WIDTH DROPDOWN MENU BUT IF WE DO THIS IS AN EXAMPLE OF  HOW IT IS STYLED IN HTML //
<div class="field has-addons">
  <div class="control is-expanded">
    <div class="select is-fullwidth">
      <select name="country">
        <option value="Argentina">Argentina</option>
        <option value="Bolivia">Bolivia</option>
        <option value="Brazil">Brazil</option>
        <option value="Chile">Chile</option>
        <option value="Colombia">Colombia</option>
        <option value="Ecuador">Ecuador</option>
        <option value="Guyana">Guyana</option>
        <option value="Paraguay">Paraguay</option>
        <option value="Peru">Peru</option>
        <option value="Suriname">Suriname</option>
        <option value="Uruguay">Uruguay</option>
        <option value="Venezuela">Venezuela</option>
      </select>
    </div>
  </div>
  <div class="control">
    <button type="submit" class="button is-primary">Choose</button>
  </div>
</div>

// THIS IS HOW WE CAN HAVE THE FORM SETUP SO THAT IT WILL STACK VERTICALLY//
<fieldset>
  
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g Alex Smith">
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
  </div>
</div>

</fieldset>



*/
